@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

 
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
 
/* *****My Style Start Here ******/

body {
    /* border: 2px solid red; */
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    /* height: 100vh; */
    font-family: 'Figtree', sans-serif;
    font-size: smaller;
    margin-inline: 30px;
}


main {
    border:1px solid hsl(0, 0%, 7%);
    box-shadow: 10px 10px hsl(0, 0%, 7%);
    display:flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 20rem;
    height: 29rem;
    padding: 19px;
}

.main-img {
  /* border: 1px solid red; */
  border-radius: 10px;
  width: 100%;
  /* height: 14.5rem; */
}

button {
    border: 0;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    border-radius: 4px; 
    height: 30px;  
    margin-block: 15px;
}

button:hover {
  cursor: pointer;
}

article h1 {
    color: hsl(0, 0%, 7%);
    margin-block: 10px;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 7%);
}

a:hover {
  color: hsl(47, 88%, 63%);

}

p2 {
  /* border: 1px solid; */
    color: hsl(0, 0%, 50%);  
    line-height:2ch;
}

footer {
    /* border: 2px solid grey; */
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 2rem;
}

footer img {
  width: 2rem;
}

footer p {
  font-weight: 800;
}


/* ***for web design *****/
